In [16]:
import googlemaps

gmaps = googlemaps.Client(key="AIzaSyBkBzlRqXuYPOpS3ZzQqmnouIrue5NziSs")

In [2]:
import pandas as pd

###


def findkeys(node, kv):
    if isinstance(node, list):
        for i in node:
            for x in findkeys(i, kv):
                yield x
    elif isinstance(node, dict):
        if kv in node:
            yield node[kv]
        for j in node.values():
            for x in findkeys(j, kv):
                yield x


###
data_MK = pd.read_csv(
    "/Users/cordiez/Documents/CompaniesHouse/CompaniesMK.csv", index_col=0
)
data_sic = pd.read_csv("/Users/cordiez/Documents/CompaniesHouse/sic.csv", index_col=0)
referenced_sic_code_list = data_sic.index.tolist()

import re


def sic_number(string):
    regex = r"[0-9][0-9][0-9][0-9][0-9]|[0-9][0-9][0-9][0-9]"
    try:
        return int(re.match(regex, string)[0])
    except:
        return string


data_MK["sic1"] = data_MK["SICCode.SicText_1"].apply(lambda x: sic_number(x))
data_MK["sic2"] = data_MK["SICCode.SicText_2"].apply(lambda x: sic_number(x))
data_MK["sic3"] = data_MK["SICCode.SicText_3"].apply(lambda x: sic_number(x))
data_MK["sic4"] = data_MK["SICCode.SicText_4"].apply(lambda x: sic_number(x))

index_SuppliedSic = data_MK[data_MK["sic1"] != "None Supplied"].index


data_MK["is_referenced"] = (
    data_MK["sic1"].isin(referenced_sic_code_list)
    | data_MK["sic2"].isin(referenced_sic_code_list)
    | data_MK["sic3"].isin(referenced_sic_code_list)
    | data_MK["sic4"].isin(referenced_sic_code_list)
)

index_ReferencedSic = data_MK[data_MK["is_referenced"] == True].index

data_MK = data_MK.loc[index_SuppliedSic, :]
data_MK = data_MK.loc[index_ReferencedSic, :]

# a,b,c,d = set(data_MK.sic1), set(data_MK.sic2), set(data_MK.sic3), set(data_MK.sic4)
# sic_code_set = list(a.union(b).union(c).union(d))
# sic_code_set = [x for x in sic_code_set if str(x) != 'nan']
# sic_code_set = [x for x in sic_code_set if str(x) != 'None Supplied']
# sic_code_set = [int(elt) for elt in sic_code_set]
data_MK = data_MK[data_MK.CompanyStatus == "Active"]
data_MK["CompanyNameCleared"] = data_MK["CompanyName"].apply(
    lambda x: x.replace(" LTD", "").replace(" LIMITED", "")
)
# data_MK['RegAddress.PostCode'] = data_MK['RegAddress.PostCode'].apply(lambda x:str(x).replace(' ',''))

idx_adress1_nan = data_MK[data_MK["RegAddress.AddressLine1"].isna() == True].index
idx_adress2_nan = data_MK[data_MK[" RegAddress.AddressLine2"].isna() == True].index


for i in idx_adress1_nan:
    data_MK.loc[i, "RegAddress.AddressLine1"] = ""
for i in idx_adress2_nan:
    data_MK.loc[i, " RegAddress.AddressLine2"] = ""

data_MK["Geocode_request"] = (
    data_MK["RegAddress.AddressLine1"]
    + ", "
    + data_MK[" RegAddress.AddressLine2"]
    + ", "
    + data_MK["RegAddress.PostTown"]
    + ", UK"
)
data_MK["Geocode_request"] = data_MK["Geocode_request"].apply(
    lambda x: x.replace(",,", ",")
)
data_MK["Lat"] = None
data_MK["Lon"] = None

In [10]:
data_MK = pd.read_csv(
    "/Users/cordiez/Documents/CompaniesHouse/OutputFiles/MK_geocoded_saved.csv",
    index_col=0,
)

In [31]:
idx_not_processed = data_MK[data_MK["Lat"].isna() == True].index
len(idx_not_processed)

13

In [17]:
b = {
    "northeast": (52.10083527381011, -0.636568598843307),
    "southwest": (51.953195912140885, -0.8694842478752413),
}

In [30]:
cpt = 0
for i in idx_not_processed:
    print("cpt :", cpt)
    cpt += 1
    data_MK.to_csv(
        "/Users/cordiez/Documents/CompaniesHouse/OutputFiles/MK_geocoded.csv"
    )

    # Call googlemaps api
    geocode_result = gmaps.geocode(
        data_MK.loc[i, "Geocode_request"].replace("CHURCH GREEN", ""), region="UK"
    )
    print(geocode_result)
    try:
        liste = list(findkeys(geocode_result[0], "location"))
        lat_lon = list([liste[0]["lat"], liste[0]["lng"]])
        data_MK.loc[i, "Lat"] = lat_lon[0]
        data_MK.loc[i, "Lon"] = lat_lon[1]

    except:
        print(data_MK.loc[i, "Geocode_request"])

cpt : 0
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 1
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 2
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 3
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 4
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 5
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 6
[{'address_components': [{'long_name': '5', 'short_name': '5', 'types': ['street_number']}, {'long_name': 'Elmers Park', 'short_name': 'Elmers Park', 'types': ['route']}, {'long_name': 'Bletchley', 'short_name': 'Bletchley', 'types': ['locality', 'political']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['postal_town']}, {'long_name': 'Milton Keynes', 'short_name': 'Milton Keynes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}, {'long_name': 'MK3 6DJ', 'short_name': 'MK3 6DJ', 'types': ['postal_code']}], 'formatted_address': '5 Elmers Park, Bletchley, Milton Keynes MK3 6DJ, UK', 'geometry': {'location': {'lat': 51.99594459999999, 'lng': -0.7464695}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 51.9972935802915, 'lng': -0.7451205197084979}, 'southwest': {'lat': 51.9945956197085, 'lng': -0.7478184802915021}}}, 'place_id': 'ChIJOarD2WpVdkgRB7vBTKxmtiE', 'plus_code': {'compound_code': 'X7W3+9C Milton Keynes, UK', 'global_code': '9C3XX7W3+9C'}, 'types': ['street_address']}]
cpt : 7

[]
UNIT 7-8 TAVISTOCK HOUSE TAVISTOCK STREET, BLETCHLEY, MILTON KEYNES, UK
cpt : 8
[]
C/O  CARLTON PROPERTIES UNIT 406, MK BUSINESS CENTRE, MILTON KEYNES, UK
cpt : 9
[]
UNIT 10, DUNFERMLINE COURT, MILTON KEYNES, UK
cpt : 10
[]
OFFICE 4 CASTLE HOUSE, DAWSON ROAD, MILTON KEYNES, UK
cpt : 11
[]
C/O DKA ACCOUNTING LTD OFFICE 1, CASTLE HOUSE -DAWSON ROAD, BLETCHLEY, MILTON KEYNES, UK
cpt : 12
[]
4 JOPLIN COURT SOVEREIGN BUSINESS PARK, PRESLEY WAY, CROWNHILL, MILTON KEYNES, UK
cpt : 13
[]
C/O DKA ACCOUNTING LTD, OFFICE 1 CASTLE HOUSE, DAWSON ROAD, MILTON KEYNES, UK
cpt : 14
[]
13 DIAMOND COURT, OPAL DRIVE, MILTON KEYNES, UK
cpt : 15
[]
UNIT 10 STRATUS PARK, BRUDENELL DRIVE, MILTON KEYNES, UK
cpt : 16
[]
C/O DKA ACCOUNTING LTD OFFICE 1, CASTLE HOUSE, DAWSON ROAD, MILTON KEYNES, UK
cpt : 17
[]
OFFICE 4, CASTLE HOUSE DAWSON ROAD, BLETCHLEY, MILTON KEYNES, UK
cpt : 18
[]
31 REPTON DRIVE, HANSLOPE FIELDS, MILTON KEYNES, UK
cpt : 19
[]
UNIT 10 STRATUS PARK, BRUDENELL DRIVE, MILTON KEYNES, UK

In [155]:
data_MK

,CompanyName,CompanyNumber,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.PostCode,CompanyStatus,IncorporationDate,SICCode.SicText_1,SICCode.SicText_2,...,sic1,sic2,sic3,sic4,is_referenced,CompanyNameCleared,Geocode_request,Geocode_result,Lat,Lon
596,(UK) SWEET HOMES LTD,12060582,3 BLUNDELLS ROAD,BRADVILLE,MILTON KEYNES,MK13 7HA,Active,19/06/2019,68100 - Buying and selling of own real estate,68209 - Other letting and operating of own or ...,...,68100,68209.0,68310.0,68320.0,True,(UK) SWEET HOMES,"3 BLUNDELLS ROAD, BRADVILLE, MILTON KEYNES, UK",52.0586,52.058556,-0.776091
1125,00947912 LIMITED,00947912,PITFIELD,KILN FARM,MILTON KEYNES,MK11 3DR,Active,13/02/1969,33140 - Repair of electrical equipment,NaN,...,33140,NaN,NaN,NaN,True,00947912,"PITFIELD, KILN FARM, MILTON KEYNES, UK",52.0454,52.045398,-0.822525
2152,0K - OFFICIALLY THE WORLD'S COOLEST BRAND LIMITED,09141489,1 HAYNES CLOSE,BOW BRICKHILL,MILTON KEYNES,MK17 9JQ,Active,22/07/2014,99999 - Dormant Company,NaN,...,99999,NaN,NaN,NaN,True,0K - OFFICIALLY THE WORLD'S COOLEST BRAND,"1 HAYNES CLOSE, BOW BRICKHILL, MILTON KEYNES, UK",52.003,52.003007,-0.680178
2405,1 BROOKLANDS COURT LIMITED,11081797,BAIRD HOUSE SEEBECK PLACE,KNOWLHILL,MILTON KEYNES,MK5 8FR,Active,24/11/2017,68209 - Other letting and operating of own or ...,NaN,...,68209,NaN,NaN,NaN,True,1 BROOKLANDS COURT,"BAIRD HOUSE SEEBECK PLACE, KNOWLHILL, MILTON K...",52.0268,52.026752,-0.772775
2923,1 MK TAXI LIMITED,12576511,71 STRATFORD ROAD,WOLVERTON,MILTON KEYNES,MK12 5LT,Active,28/04/2020,49320 - Taxi operation,NaN,...,49320,NaN,NaN,NaN,True,1 MK TAXI,"71 STRATFORD ROAD, WOLVERTON, MILTON KEYNES, UK",52.0625,52.062483,-0.815678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4918040,ZURI CONSULTING LIMITED,12867637,2 KINDERFIELD CLOSE,EMERSON VALLEY,MILTON KEYNES,MK4 2AW,Active,09/09/2020,82990 - Other business support service activit...,NaN,...,82990,NaN,NaN,NaN,True,ZURI CONSULTING,"2 KINDERFIELD CLOSE, EMERSON VALLEY, MILTON KE...",None,NaN,NaN
4918047,ZURI HEALTH CARE LTD,10948428,7 TORRE CLOSE,BLETCHLEY,MILTON KEYNES,MK3 6NG,Active,06/09/2017,86900 - Other human health activities,NaN,...,86900,NaN,NaN,NaN,True,ZURI HEALTH CARE,"7 TORRE CLOSE, BLETCHLEY, MILTON KEYNES, UK",None,NaN,NaN
4918818,ZYGOLOGY SCIENTIFIC LIMITED,13228300,ARTEMIS HOUSE,"4A BRAMLEY RD, MOUNT FARM",MILTON KEYNES,MK1 1PT,Active,26/02/2021,46660 - Wholesale of other office machinery an...,NaN,...,46660,NaN,NaN,NaN,True,ZYGOLOGY SCIENTIFIC,"ARTEMIS HOUSE, 4A BRAMLEY RD, MOUNT FARM, MILT...",None,NaN,NaN
4918819,ZYGOLOGY SYSTEMS LIMITED,03696606,ARTEMIS HOUSE 4A BRAMLEY ROAD,MOUNT FARM,MILTON KEYNES,MK1 1PT,Active,18/01/1999,46660 - Wholesale of other office machinery an...,NaN,...,46660,NaN,NaN,NaN,True,ZYGOLOGY SYSTEMS,"ARTEMIS HOUSE 4A BRAMLEY ROAD, MOUNT FARM, MIL...",None,NaN,NaN
4919074,ZYTOLA LTD,07942393,FLAT 4 263 FEN STREET,BROOKLANDS,MILTON KEYNES,MK10 7HD,Active,09/02/2012,60200 - Television programming and broadcastin...,62011 - Ready-made interactive leisure and ent...,...,60200,62011.0,NaN,NaN,True,ZYTOLA,"FLAT 4 263 FEN STREET, BROOKLANDS, MILTON KEYN...",None,NaN,NaN

In [136]:
liste = list(findkeys(geocode_result[0], "location"))
(liste[0]["lat"], liste[0]["lng"])

In [140]:
liste

[{'lat': 52.056118, 'lng': -0.8164581}]

In [122]:
elt = [{"lat": 52.0585556, "lng": -0.7760905}]

In [137]:
(liste[0]["lat"], liste[0]["lng"])

(52.056118, -0.8164581)

In [139]:
data_MK

,CompanyName,CompanyNumber,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.PostCode,CompanyStatus,IncorporationDate,SICCode.SicText_1,SICCode.SicText_2,...,SICCode.SicText_4,URI,sic1,sic2,sic3,sic4,is_referenced,CompanyNameCleared,Geocode_request,Geocode_result
596,(UK) SWEET HOMES LTD,12060582,3 BLUNDELLS ROAD,BRADVILLE,MILTON KEYNES,MK13 7HA,Active,19/06/2019,68100 - Buying and selling of own real estate,68209 - Other letting and operating of own or ...,...,68320 - Management of real estate on a fee or ...,http://business.data.gov.uk/id/company/12060582,68100,68209.0,68310.0,68320.0,True,(UK) SWEET HOMES,"3 BLUNDELLS ROAD, BRADVILLE, MILTON KEYNES, UK","{'lat': 52.0585556, 'lng': -0.7760905}"
1125,00947912 LIMITED,00947912,PITFIELD,KILN FARM,MILTON KEYNES,MK11 3DR,Active,13/02/1969,33140 - Repair of electrical equipment,NaN,...,NaN,http://business.data.gov.uk/id/company/00947912,33140,NaN,NaN,NaN,True,00947912,"PITFIELD, KILN FARM, MILTON KEYNES, UK","{'lat': 52.0453979, 'lng': -0.8225254}"
2152,0K - OFFICIALLY THE WORLD'S COOLEST BRAND LIMITED,09141489,1 HAYNES CLOSE,BOW BRICKHILL,MILTON KEYNES,MK17 9JQ,Active,22/07/2014,99999 - Dormant Company,NaN,...,NaN,http://business.data.gov.uk/id/company/09141489,99999,NaN,NaN,NaN,True,0K - OFFICIALLY THE WORLD'S COOLEST BRAND,"1 HAYNES CLOSE, BOW BRICKHILL, MILTON KEYNES, UK","{'lat': 52.0030071, 'lng': -0.6801779}"
2405,1 BROOKLANDS COURT LIMITED,11081797,BAIRD HOUSE SEEBECK PLACE,KNOWLHILL,MILTON KEYNES,MK5 8FR,Active,24/11/2017,68209 - Other letting and operating of own or ...,NaN,...,NaN,http://business.data.gov.uk/id/company/11081797,68209,NaN,NaN,NaN,True,1 BROOKLANDS COURT,"BAIRD HOUSE SEEBECK PLACE, KNOWLHILL, MILTON K...","{'lat': 52.02675170000001, 'lng': -0.772774699..."
2923,1 MK TAXI LIMITED,12576511,71 STRATFORD ROAD,WOLVERTON,MILTON KEYNES,MK12 5LT,Active,28/04/2020,49320 - Taxi operation,NaN,...,NaN,http://business.data.gov.uk/id/company/12576511,49320,NaN,NaN,NaN,True,1 MK TAXI,"71 STRATFORD ROAD, WOLVERTON, MILTON KEYNES, UK","{'lat': 52.0624826, 'lng': -0.8156783}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4918040,ZURI CONSULTING LIMITED,12867637,2 KINDERFIELD CLOSE,EMERSON VALLEY,MILTON KEYNES,MK4 2AW,Active,09/09/2020,82990 - Other business support service activit...,NaN,...,NaN,http://business.data.gov.uk/id/company/12867637,82990,NaN,NaN,NaN,True,ZURI CONSULTING,"2 KINDERFIELD CLOSE, EMERSON VALLEY, MILTON KE...",None
4918047,ZURI HEALTH CARE LTD,10948428,7 TORRE CLOSE,BLETCHLEY,MILTON KEYNES,MK3 6NG,Active,06/09/2017,86900 - Other human health activities,NaN,...,NaN,http://business.data.gov.uk/id/company/10948428,86900,NaN,NaN,NaN,True,ZURI HEALTH CARE,"7 TORRE CLOSE, BLETCHLEY, MILTON KEYNES, UK",None
4918818,ZYGOLOGY SCIENTIFIC LIMITED,13228300,ARTEMIS HOUSE,"4A BRAMLEY RD, MOUNT FARM",MILTON KEYNES,MK1 1PT,Active,26/02/2021,46660 - Wholesale of other office machinery an...,NaN,...,NaN,http://business.data.gov.uk/id/company/13228300,46660,NaN,NaN,NaN,True,ZYGOLOGY SCIENTIFIC,"ARTEMIS HOUSE, 4A BRAMLEY RD, MOUNT FARM, MILT...",None
4918819,ZYGOLOGY SYSTEMS LIMITED,03696606,ARTEMIS HOUSE 4A BRAMLEY ROAD,MOUNT FARM,MILTON KEYNES,MK1 1PT,Active,18/01/1999,46660 - Wholesale of other office machinery an...,NaN,...,NaN,http://business.data.gov.uk/id/company/03696606,46660,NaN,NaN,NaN,True,ZYGOLOGY SYSTEMS,"ARTEMIS HOUSE 4A BRAMLEY ROAD, MOUNT FARM, MIL...",None
4919074,ZYTOLA LTD,07942393,FLAT 4 263 FEN STREET,BROOKLANDS,MILTON KEYNES,MK10 7HD,Active,09/02/2012,60200 - Television programming and broadcastin...,62011 - Ready-made interactive leisure and ent...,...,NaN,http://business.data.gov.uk/id/company/07942393,60200,62011.0,NaN,NaN,True,ZYTOLA,"FLAT 4 263 FEN STREET, BROOKLANDS, MILTON KEYN...",None